@model BlogViewModel
@{
    ViewData["Title"] = Model.PageTitle;
}

<div class="breadcrumbs overlay">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">@Model.BannerTitle</h1>
                    <p></p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li><a asp-controller="home" asp-action="index">Bosh sahifa</a></li>
                    <li>@Model.PageTitle</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<section class="section latest-news-area blog-list">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-12">
                <div class="row">
                    @{
                        foreach (var item in Model.Contents)
                        {
                            <div class="col-lg-12 col-12">
                                <div class="single-news custom-shadow-hover wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                    <div class="content-body">
                                        <a class="cat" href="#">@item.Tag</a>
                                        <h4 class="title">
                                            <a asp-controller="home" asp-action="content" asp-route-Id="@item.Id">@item.Name</a>
                                        </h4>
                                        <p>@item.ShortDescription</p>
                                        <div class="button">
                                            <a asp-controller="home" asp-action="content" asp-route-Id="@item.Id">Batafsil</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            <aside class="col-lg-4 col-md-5 col-12">
                <div class="sidebar">
                    <div class="widget search-widget">
                        <h5 class="widget-title">Qidiruv</h5>
                        <form asp-controller="home" asp-action="blog" method="post">
                            <input asp-for="Search" type="text" placeholder="Barchasi topiladi ...">
                            <button type="submit"><i class="lni lni-search-alt"></i></button>
                        </form>
                    </div>
                    <div class="widget popular-feeds">
                        <h5 class="widget-title">Eng so'nggilar</h5>
                        <div class="popular-feed-loop">
                            @{
                                foreach (var item in Model.LastContents)
                                {
                                    <div class="single-popular-feed">
                                        <div class="feed-img">
                                            <a asp-controller="home" asp-action="content" asp-route-Id="@item.Id"><img src="assets/images/blog/blog-sidebar1.jpg" alt="#"></a>
                                        </div>
                                        <div class="feed-desc">
                                            <h6 class="post-title">
                                                <a asp-controller="home" asp-action="content" asp-route-Id="@item.Id">@item.Name</a>
                                            </h6>
                                            <span class="time"><i class="lni lni-calendar"></i> 05th Nov 2023</span>
                                        </div>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                    <div class="widget categories-widget">
                        <h5 class="widget-title">Kategoriyalar</h5>
                        <ul class="custom">
                            <li>
                                <a href="#">Business <i class="lni lni-arrow-right"></i></a>
                            </li>
                            <li>
                                <a href="#">Consultant <i class="lni lni-arrow-right"></i></a>
                            </li>
                            <li>
                                <a href="#">Creative <i class="lni lni-arrow-right"></i></a>
                            </li>
                            <li>
                                <a href="#">UI/UX <i class="lni lni-arrow-right"></i></a>
                            </li>
                            <li>
                                <a href="#">Technology <i class="lni lni-arrow-right"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget popular-tag-widget">
                        <h5 class="widget-title">Teglar</h5>
                        <div class="tags">
                            <a href="#">Popular Template</a>
                            <a href="#">Design</a>
                            <a href="#">UX</a>
                            <a href="#">Icon</a>
                            <a href="#">Usability</a>
                            <a href="#">Tech</a>
                            <a href="#">Mouse</a>
                            <a href="#">Kit</a>
                            <a href="#">Consult</a>
                            <a href="#">Business</a>
                            <a href="#">Keyboard</a>
                            <a href="#">Develop</a>
                        </div>
                    </div>
                    <div class="widget call-us">
                        <div class="content">
                            <h4>Yangiliklar<span>Mahorat darslarimizning keyingi mavzulari haqidagi takliflarni bizga yo'llang</span></h4>
                            <div class="button">
                                <a href="contact.html" class="btn">Yuborish</a>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>