@model ContentViewModel
@{
    ViewData["Title"] = Model.PageTitle;
}
<div class="breadcrumbs overlay">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">@Model.BannerTitle</h1>
                    <p>@Model.Content.ShortDescription</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li><a asp-controller="home" asp-action="index">Bosh sahifa</a></li>
                    <li><a asp-controller="home" asp-action="blog">Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<section class="section blog-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
                <div class="single-inner">
                    <div class="post-thumbnils">
                        <img src="@($"https://img.youtube.com/vi/{Model.Content.YoutubeVideoId}/mqdefault.jpg")" alt="content">
                    </div>
                    <div class="post-details">
                        <div class="detail-inner">

                            <ul class="custom-flex post-meta">
                                <li>
                                    <a href="#">
                                        <i class="far fa-user"></i>
                                        @(Model.Content.AuthorFirstname + " " + Model.Content.AuthorLastname)
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="far fa-calendar-alt"></i>
                                        @Model.Content.CreateTime.ToString("dd.MM.yyyy")
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-hashtag">@Model.Content.Tag</i>
                                    </a>
                                </li>
                            </ul>
                            <h2 class="post-title">
                                @Model.Content.Name
                            </h2>
                            <p>
                                We denounce with righteous indige nation and dislike men who are so beguiled and demo
                                realized by the charms of pleasure of the moment, so blinded by desire, that they
                                cannot
                                foresee the pain and trouble that are bound to ensue; and equal blame belongs to
                                those
                                who fail in their duty through weakness of will, which is the same as saying through
                                shrinking from toil and pain. These cases are perfectly simple and easy to
                                distinguish.
                                In a free hour, when our power of choice is untrammelled and when nothing prevents
                                our
                                being able to do what we like best, every pleasure is to be welcomed and every pain
                                avoided.
                            </p>
                            <div class="post-tags-media">
                                <div class="post-tags popular-tag-widget mb-xl-40">
                                    <h5 class="tag-title">Teglar</h5>
                                    <div class="tags">
                                        <a href="#">@Model.Content.Tag</a>
                                    </div>
                                </div>
                                <div class="post-social-media">
                                    <h5 class="share-title">Ijtimoiy tarmoqlarda ulashing</h5>
                                    <ul class="custom-flex">
                                        <li>
                                            <a href="#" class="facebook">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="twitter">
                                                <i class="fab fa-telegram-plane"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="google">
                                                <i class="fab fa-twitch"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="pinterest">
                                                <i class="fab fa-facebook-messenger"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="comment-form">
                            <h3 class="comment-reply-title">Fikringizni qoldiring</h3>
                            <form action="#" method="POST">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-box form-group">
                                            <textarea name="#" rows="6" class="form-control form-control-custom" placeholder="Matnni kiriting"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="button">
                                            <button type="submit" class="btn mouse-dir white-bg">Yuborish<span class="dir-part"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="post-comments">
                            <h3 class="comment-title">Post comments (24)</h3>
                            <ul class="comments-list">
                                <li>
                                    <div class="comment-img">
                                        <img src="/assets/images/about/about-1.png" alt="img">
                                    </div>
                                    <div class="comment-desc">
                                        <div class="desc-top">
                                            <h6>Rosalina Kelian</h6>
                                            <span class="date">19th May 2023</span>
                                            <a href="#" class="reply-link"><i class="lni lni-reply"></i>Reply</a>
                                        </div>
                                        <p>
                                            Donec aliquam ex ut odio dictum, ut consequat leo interdum. Aenean nunc
                                            ipsum, blandit eu enim sed, facilisis convallis orci. Etiam commodo
                                            lectus
                                            quis vulputate tincidunt. Mauris tristique velit eu magna maximus
                                            condimentum.
                                        </p>
                                    </div>
                                </li>
                                <li class="children">
                                    <div class="comment-img">
                                        <img src="assets/images/blog/comment2.png" alt="img">
                                    </div>
                                    <div class="comment-desc">
                                        <div class="desc-top">
                                            <h6>Arista Williamson <span class="saved"><i class="lni lni-bookmark"></i></span></h6>
                                            <span class="date">15th May 2023</span>
                                            <a href="#" class="reply-link"><i class="lni lni-reply"></i>Reply</a>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="comment-img">
                                        <img src="assets/images/blog/comment3.png" alt="img">
                                    </div>
                                    <div class="comment-desc">
                                        <div class="desc-top">
                                            <h6>Arista Williamson</h6>
                                            <span class="date">12th May 2023</span>
                                            <a href="#" class="reply-link"><i class="lni lni-reply"></i>Reply</a>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                            veniam.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
