@model IndexViewModel
@{
    ViewData["Title"] = Model.PageTitle;
}

<!-- ====== Hero Start ====== -->
<section class="hero" id="home">
    <div class="hero-layer">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-10 col-lg-6 col-xl-6">
                    <div class="hero-content wow fadeInUp" data-wow-delay=".2s">
                        <h1 class="hero-title">Procode ::: professional ta'lim</h1>
                        <p class="hero-desc">
                            Biz bilan professionallardan bepul ta'lim oling. O'z imkoniyat va chegaralaringizni yanada kengaytiring.
                        </p>
                        <p class="hero-desc mb-3">
                            We are against war. Stop WAR !
                        </p>
                        <a asp-controller="account" asp-action="login" class="main-btn">Boshlash</a>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-6">
                    <div class="hero-image wow fadeInUp" data-wow-delay=".25s">
                        <span class="video-play-button">
                            <span></span>
                        </span>
                        <img src="/assets/images/thumb.png"
                             alt="hero-image"
                             class="image" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== Hero End ====== -->

<!-- ====== Features Start ====== -->
<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title mx-auto text-center">
                    <span>Biz haqimizda</span>
                    <h2>Bizning maqsadlarimiz</h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-md-6 col-sm-9">
                <div class="single-feature wow fadeInUp" data-wow-delay=".1s">
                    <div class="feature-icon">
                        <i class="fas fa-fire"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="feature-title">Professional ta'lim</h3>
                        <p class="feature-desc">
                            Bilim va tajribalarini ulashishga tayyor bo'lgan, o'z sohasining mutaxassislarini jalb etish
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-9">
                <div class="single-feature wow fadeInUp" data-wow-delay=".15s">
                    <div class="feature-icon">
                        <i class="fas fa-podcast"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="feature-title">Jonli muloqotlar</h3>
                        <p class="feature-desc">
                            Mutaxassislar bilan soha bo'yicha turli mavzularda mahorat darslarini o'tkazish.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-9">
                <div class="single-feature wow fadeInUp" data-wow-delay=".2s">
                    <div class="feature-icon">
                        <i class="fas fa-gem"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="feature-title">Bepul xizmat</h3>
                        <p class="feature-desc">
                            Ilm talabidagi yaqinlarimizga har qaysi turdagi kontentlarni bepul ulashish.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== Features End ====== -->

<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title">
                        <span>Biz haqimizda</span>
                        <h2>Jonli muloqotlarda yangi qirralarni zabt eting.</h2>
                    </div>
                    <p>
                        Biz IT sohasida ko'plab duch kelinadigan muammo va qiyinchiliklarning professionallar
                        tomonidan yechimlarni jonli mahorat darslari tarzida ulashib boramiz.
                    </p>
                    <p>
                        O'z bilim va tajribalarini ulashishga tayyor professional mentorlar bilan bo'lib o'tadigan
                        bepul mahorat darslarimizda qatnashing va imkoniyatlaringizni yanda kengaytiring.
                    </p>
                    <a href="#blog" class="main-btn mb-5">Ko'proq</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-image-wrapper">
                    <div class="about-image text-center text-lg-end">
                        <img src="assets/images/about/about-image.jpg" alt="about" class="image">
                        <img src="assets/images/about/dotted-shape.svg" alt="shape" class="shape shape-1">
                        <img src="assets/images/about/dotted-shape.svg" alt="shape" class="shape shape-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="testimonial" class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title mx-auto text-center">
                    <span>Mentorlar</span>
                    <h3 class="mb-4">Barcha tajribamizni siz bilan baham ko'ramiz</h3>
                    <p>Yetuk mutaxasislarimiz o'z bilimlarini ulashishga har qachon tayyor.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-testimonial">
                    <div class="testimonial-content">
                        <p>
                            We Crafted an awesome design library matter you're buildi
                            business presentation websit or a complex web application our
                            design blocks can easily.
                        </p>
                    </div>
                    <div class="testimonial-info">
                        <h4>Margin Gesmu</h4>
                        <p>Founder Lineicons</p>
                    </div>
                    <div class="testimonial-quote">
                        <i class="fas fa-quote-right"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-testimonial">
                    <div class="testimonial-content">
                        <p>
                            We Crafted an awesome design library matter you're buildi
                            business presentation websit or a complex web application our
                            design blocks can easily.
                        </p>
                    </div>
                    <div class="testimonial-info">
                        <h4>John Doe</h4>
                        <p>Founder Ayroui</p>
                    </div>
                    <div class="testimonial-quote">
                        <i class="fas fa-quote-right"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-testimonial">
                    <div class="testimonial-content">
                        <p>
                            We Crafted an awesome design library matter you're buildi
                            business presentation websit or a complex web application our
                            design blocks can easily.
                        </p>
                    </div>
                    <div class="testimonial-info">
                        <h4>Jonathon Smith</h4>
                        <p>Founder Pagebulb</p>
                    </div>
                    <div class="testimonial-quote">
                        <i class="fas fa-quote-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ====== Team Start ====== -->
<section id="team" class="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title mx-auto text-center">
                    <h2>Bizning jamoa</h2>
                    <p>
                        Bepul va sifatli ta'limni yetkazish uchun tinimsiz
                        izlanish va harakatdamiz.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 col-lg-3 col-sm-6">
                <div class="single-team wow fadeInUp" data-wow-delay=".1s">
                    <div class="team-image-wrapper">
                        <div class="team-image">
                            <img src="/assets/images/team/team-01.png" alt="team" />
                        </div>
                    </div>
                    <div class="team-info">
                        <h5>Shahzod Shanbiyev</h5>
                        <h6>Frontend dasturchi</h6>
                    </div>
                    <ul class="team-socials">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fab fa-telegram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6">
                <div class="single-team wow fadeInUp" data-wow-delay=".15s">
                    <div class="team-image-wrapper">
                        <div class="team-image">
                            <img src="/assets/images/team/team-02.png" alt="team" />
                        </div>
                    </div>
                    <div class="team-info">
                        <h5>Ravshan Sodiqov</h5>
                        <h6>Loyiha asoschisi</h6>
                    </div>
                    <ul class="team-socials">
                        <li>
                            <a href="https://github.com/iRavshan">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://t.me/ravshan77">
                                <i class="fab fa-telegram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6">
                <div class="single-team wow fadeInUp" data-wow-delay=".2s">
                    <div class="team-image-wrapper">
                        <div class="team-image">
                            <img src="/assets/images/team/team-03.png" alt="team" />
                        </div>
                    </div>
                    <div class="team-info">
                        <h5>Andrieo Gloree</h5>
                        <h6>App Developer</h6>
                    </div>
                    <ul class="team-socials">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="lni lni-facebook-filled"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="lni lni-twitter-filled"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="lni lni-instagram-filled"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6">
                <div class="single-team wow fadeInUp" data-wow-delay=".25s">
                    <div class="team-image-wrapper">
                        <div class="team-image">
                            <img src="/assets/images/team/team-04.png" alt="team" />
                        </div>
                    </div>
                    <div class="team-info">
                        <h5>Jackie Sanders</h5>
                        <h6>Content Writer</h6>
                    </div>
                    <ul class="team-socials">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="lni lni-facebook-filled"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="lni lni-twitter-filled"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="lni lni-instagram-filled"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== Team End ====== -->

<section id="blog" class="blog">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="section-title">
                    <span>Blog</span>
                    <h2>Eng so'ngi postlar</h2>
                    <p>
                        Jonli tarzda bo'lib o'tadigan mahorat darslarimizda qatnashing va o'z
                        imkoniyatlaringizni yanada kengaytiring
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="all-post-btn text-md-end">
                    <a asp-controller="home" asp-action="blog" class="main-btn" style="margin-bottom: 36px;">Barchasi</a>
                </div>
            </div>
        </div>
        <div class="row">
            @{
                foreach (var content in Model.LastContents)
                {
                    <div class="col-lg-4 col-md-6" data-wow-delay=".1s">
                        <div class="single-blog">
                            <div class="blog-image">
                                <a asp-controller="home" asp-action="content" asp-route-Id="@content.Id">
                                    <img src="@($"https://ytimg.googleusercontent.com/vi/{content.YoutubeVideoId}/maxresdefault.jpg")" alt="blog">
                                </a>
                                <span class="blog-tag">@content.Tag</span>
                            </div>
                            <div class="blog-content">
                                <h3>
                                    <a asp-controller="home" asp-action="content" asp-route-Id="@content.Id">@content.Name</a>
                                </h3>
                                <p>@content.ShortDescription</p>
                                <a asp-controller="home" asp-action="content" asp-route-Id="@content.Id" class="main-btn">Batafsil</a>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</section>